formater.name: dot
suites:
    Baptis:
        namespace: SIAP\Baptis
        psr4_prefix: SIAP\Baptis
        spec_prefix: Spec
        spec_path: src/Baptis
        src_path: src/Baptis
    Core:
        namespace: SIAP\Core
        psr4_prefix: SIAP\Core
        spec_prefix: Spec
        spec_path: src/Core
        src_path: src/Core
    Reference:
        namespace: SIAP\Reference
        psr4_prefix: SIAP\Reference
        spec_prefix: Spec
        spec_path: src/Reference
        src_path: src/Reference
    User:
        namespace: SIAP\User
        psr4_prefix: SIAP\User
        spec_prefix: Spec
        spec_path: src/User
        src_path: src/User

